@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
/*----------------------------------------------------------------Обнуление---------------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer,header,aside{display:block;}

html,body{
       height: 100%;
       width: 100%;
       font-size: 100%;
       line-height: 1;
       font-size: 14px;
       -ms-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
       -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family:inherit;}

button{cursor: pointer;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
body{
    font-family: 'Comic Neue', cursive;
}
.container{
    width:85%;
    margin:0 auto;
}
/*------------------------------------------------------------------header----------------------------------------------------------------------------*/
.header{
    background-color:rgb(46, 46, 46, 0.5);
    position:absolute;
    width:100%;
    text-align:center;
    color:#ffffff;
    padding:2% 0;
}
.astoria{
    font-family: 'Tapestry', cursive;
    font-size: 2.667vw;
}
.restaurant{
    letter-spacing:0.278vw;
    font-size:0.7vw;
}
a{
    color:rgb(255, 255, 255);
    ;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------booking-------------------------------------------------------------------------------*/
.booking{
    background:url("back.jpg") center no-repeat fixed;
    background-size:cover;
    padding:0 0 8vw 0;
}
.container-booking{
    width:90%;
    padding: 12.333vw 0 0 11.111vw;
}
form{
    background-color: rgb(213, 212, 212, 0.9);
    width:35%;
    margin:0 auto;
    text-align: center;
}
.booking__text{
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 4vw;
}
.title{
    font-size:3.333vw;
}
.rage{
    font-size:2vw;
}
input{
    width:80%;
    height:4.5vw;
    border:1px solid rgb(110, 110, 110);
    margin:1.3vw 1.3vw 0px 1.3vw;
    font-size: 2vw;
    padding:0 0 0 1.3vw;
}
.booking__inputs{
    padding:2vw 0 3vw 0;
}
.booking__button{
    background-color: rgb(158, 198, 12);
    margin: 0 0 1vw 0;
}
.ps{
    font-size: 1.3vw;
    color:rgb(130, 130, 130);
    line-height:2vw;
}
.booking__p{
    padding:0.556vw;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------about-------------------------------------------------------------------------------*/
.about{
    background-color: rgb(225, 225, 225);
}
.about__block{
    display:flex;
}
.about__div{
    text-align: center;
    margin:2.222vw 2vw;
}
.about__rage{
    margin: 0.556vw 0;
}
.about__text{
    text-align: center;
    padding:3.333vw 0 0px 0;
}
.about__title{
    margin: 0 0 1.111vw 0;
}
.p{
    font-size: 1.2vw;
    line-height: 1.667vw;
    letter-spacing: 0.111vw;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------using------------------------------------------------------------------------------*/
.using{
    background-color:rgb(46, 46, 46);
    color:#ffffff;
}
.container-using{
    display:flex;
    padding: 5vw 0;
}
.using__text{
    margin: 0 2.5vw;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------benefits-----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
.benefits{
    background-color: rgb(225, 225, 225);
    text-align: center;
}
.benefits__rage{
    color: rgb(195, 146, 0);
}
.benefits__block{
    display:flex;
    padding: 1.667vw 0;
}
.benefits__div{
    margin: 0 0.833vw;
}
/*-----------------------------------------------------------------name-------------------------------------------------------------------------------*/
.name{
    background: url("back_2.jpeg") center no-repeat fixed;
    background-size: cover;
    color:white;
    text-align: center;
    padding:5vw 0;
}
.name__olivia{
    color: rgb(195, 146, 0);
    font-weight: 800;
}
blockquote{
    font-size: 2vw;
    margin:0 0 1.111vw 0;
}
.name__ps{
    color: #bfbfbf;
    font-weight: 800;
}
.img2{
    border-radius: 50%;
    width:11.111vw;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------what------------------------------------------------------------------------------*/
.what{
    background-color: rgb(225, 225, 225);
    text-align: center;
    padding:2.222vw 0;
}
.what__text2{
    display:flex;
    text-align:left;
}
.what__block{
    margin:0.833vw 0;
}
.what__title{
    margin:0 0 1.111vw 0;
}
.what__rage{
    color: rgb(195, 146, 0);
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------ensuring------------------------------------------------------------------------------*/
.ensuring{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding:5.556vw 0;
}
.booking__button2{
    background-color: rgba(194, 37, 37, 0.993);
    margin:1.389vw 0 0 0;
}
.ensuring__title{
    margin:0 0 1.111vw 0;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------footer--------------------------------------------------------------------------------*/
footer.footer{
    background-color:rgb(46, 46, 46);
    color:rgb(104, 103, 103);
    text-align: center;
    padding:1.667vw 0;
}
.footer__ps{
    margin: 0 0 0.556vw 0;
}
.footer__psps{
    margin: 0.556vw 0 0.556vw 0;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------button----------------------------------------------------------------------------*/
button{
    color:#ffffff;
    font-size: 1.7vw;
    letter-spacing: 0.4vw;
    width:21.8vw;
    height:3.5vw;
    box-shadow:2px 2px 5px #000;
    transition-duration: 0.6s;
}
button:hover{
    box-shadow: none;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
